Question - SDE not appearing in dig request, but extension makes an extra fetch call?

Hi I have a question, I read the [AdGuard blog post](https://adguard-dns.io/en/blog/adguard-dns-v2-10.html) but when I try to query it to see the Structured DNS Error, I am not seeing anything.

```bash
dig +comment +answer @dns.adguard-dns.com +https doubleclick.net
```
I only see this:

```
;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 1232
; EDE: 17 (Filtered)
```

but no JSON appearing after the (Filtered) bit. 

I noticed that the extension is making a fetch request to an Adguard URL to get further information on the blocked domain. 

https://github.com/AdguardTeam/dns-sde-extension/blob/d10d936f13e8e7b5c42ec9044bbff586a906d02c/src/index.js#L53

The request to https://dns.adguard.ch/resolve?name=doubleclick.net&sde=1 does have the extra JSON.

Does this mean AdGuard DNS has not yet implemented the "SDE" part? Sorry if I've misunderstood something.

The extension makes an additional request because it does not have access to the DNS requests made by the browser. It listens for any errors that occur during the loading of the main frame and, upon detecting an error, makes a request to the DNS service to retrieve SDE information.

Oh I see, the browser needs to make the extra information available as part of its error, which should happen in the future hopefully :crossed_fingers: 

But I am not seeing any of the JSON in the `dig` response? Although, can appreciate that is outside the scope of the extension. But in case you know. 

I tried

```bash
dig +comment +answer @dns.adguard-dns.com +https doubleclick.net
```


![image](https://github.com/user-attachments/assets/b25f56ba-5b43-47b8-893a-48a636a1fa03)


The SDE will be provided if the client indicates support for it in the request:

```
5.1. Client Generating Request

When generating a DNS query, the client includes the EDE option (Section 2 of [RFC8914]) in the OPT pseudo-RR [RFC6891] to request the EDE option in the DNS response. The client MUST use an OPTION-LENGTH of 2, set the INFO-CODE field to “0” (Other Error), and leave the EXTRA-TEXT field empty. This signals that the client wants the server to respond in accordance with the present specification.
```

Here’s how to do this with dig:

```
➜  /tmp dig @94.140.14.14 'ad.doubleclick.net' A IN +ednsopt=15:0000

; <<>> DiG 9.20.3 <<>> @94.140.14.14 ad.doubleclick.net A IN +ednsopt=15:0000
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 44235
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 1232
; EDE: 17 (Filtered): ({"j":"Filtered by AdGuard DNS","o":"AdGuard DNS","c":["mailto:support@adguard-dns.io"]})
;; QUESTION SECTION:
;ad.doubleclick.net.		IN	A

;; ANSWER SECTION:
ad.doubleclick.net.	3600	IN	A	0.0.0.0

;; Query time: 26 msec
;; SERVER: 94.140.14.14#53(94.140.14.14) (UDP)
;; WHEN: Tue Nov 12 11:20:45 EET 2024
;; MSG SIZE  rcvd: 156
```



Perfect, thank you so much for taking the time to teach me!   

Now I see it, very good, I shall query away and do some searching to learn about this `ednsopt` flag Thanks again!